In [1]:
from NaiveBayes.nb import NaiveBayes

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df = pd.read_csv('Example_data.csv', index_col=0)

In [5]:
df.head()

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0
1,14861698,female,20,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,male,69,179.0,79.0,5.0,88.0,38.7,26.0
3,16180408,female,34,179.0,71.0,13.0,100.0,40.5,71.0
4,17771927,female,27,154.0,58.0,10.0,81.0,39.8,35.0

In [6]:
ord_enc = OrdinalEncoder()

In [7]:
df['Gender'] = ord_enc.fit_transform(df[['Gender']])

In [8]:
df['Age'] = df['Age'].astype('float64')

In [9]:
X = df[['Age', 'Height', 'Weight']].to_numpy(dtype='float64')
y = df['Gender'].to_numpy(dtype='float64')

In [10]:
df.head()

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,1.0,68.0,190.0,94.0,29.0,105.0,40.8,231.0
1,14861698,0.0,20.0,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,1.0,69.0,179.0,79.0,5.0,88.0,38.7,26.0
3,16180408,0.0,34.0,179.0,71.0,13.0,100.0,40.5,71.0
4,17771927,0.0,27.0,154.0,58.0,10.0,81.0,39.8,35.0

In [11]:
nb = NaiveBayes()

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [13]:
nb.fit(X_train, y_train)

In [14]:
def accuracy(y_true, y_pred):
    accuracy = np.sum(y_true == y_pred) / len(y_true)
    return accuracy

In [15]:
pred = nb.predict(X_test)

In [16]:
accuracy(y_test, pred)

0.8858585858585859

In [20]:
np.array(pred)

array([0., 1., 1., ..., 0., 1., 1.])

In [18]:
y_test

array([0., 1., 1., ..., 0., 1., 1.])

In [28]:
predicted = pd.DataFrame({
    'Predicted': np.array(pred),
    'True' : y_test
})

In [23]:
inv_enc = ord_enc.inverse_transform(df[['Gender']])

In [24]:
inv_enc

array([['male'],
       ['female'],
       ['male'],
       ...,
       ['female'],
       ['male'],
       ['male']], dtype=object)

In [31]:
A = ['male', 'female']
B = [0 ,1]
predicted.replace(B, A, inplace=True)

In [34]:
predicted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4950 entries, 0 to 4949
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Predicted  4950 non-null   object
 1   True       4950 non-null   object
dtypes: object(2)
memory usage: 77.5+ KB

In [33]:
predicted[predicted['Predicted']!=predicted['True']]

     Predicted    True
18      female    male
22        male  female
25      female    male
37        male  female
40        male  female
...        ...     ...
4906    female    male
4913      male  female
4925      male  female
4932      male  female
4945      male  female

[565 rows x 2 columns]